* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 210, 207);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 90%;
    width: 350px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.container .button {
    display: flex;
    gap: 35px;
}

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 20px;
    transition: all 0.5s ease;
    font-size: large;
}

.button .sim {
    background-color: rgb(34, 34, 209)
}

.button .nao {
    background-color: rgb(233, 117, 208);
}

.button .sim:hover {
    background: transparent;
    border: 2px solid blue;
    color: #000;
}

.button .nao:hover {
    background: transparent;
    border: 2px solid rgb(233, 117, 208);
    color: #000;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: auto;
    }
}